<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SshTo.net - zero-effort SSH port forwarding service</h5>
                <p class="grey-text text-lighten-4">Remotely access your IoT, Ubuntu, Mac, Router, Raspberry PI, Servers .. anything from anywhere in the world using standard SSH.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contacts</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="mailto:info@sshto.net">info@sshto.net</a></li>
                    <li><a class="grey-text text-lighten-3" href="/"></a>&nbsp;</li>
                    <li><a class="grey-text text-lighten-3" href="/">Sign up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 JSX Exchange
            <a class="grey-text text-lighten-4 right" href="http://jsx.exchange">by jsx.exchange</a>
        </div>
    </div>
</footer>